.body {
  background-color: burlywood;
}
.classes {
  position: fixed;
  margin: 100px 0px 100px 400px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(252, 247, 247, 0.933);
  width: 800px;
  height: 600px;
  max-width: 80%;
  z-index: 10;
  font-family: "Montserrat", sans-serif;
}
.title {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: cents;
  border-bottom: 1px solid black;
  font-size: 30px;
}
.description {
  font-size: 20px;
}
.shotokan {
  font-weight: bold;
  font-size: 25px;
}
.Goju-ryu {
  font-size: 25px;
  font-weight: bold;
}
.Uechi-ryu {
  font-size: 25px;
  font-weight: bold;
}
.Wado-ryu {
  font-size: 25px;
  font-weight: bold;
}
#overlay {
  position: fixed;
  background-color: rgba(0, 0, 0.5);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}
